* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  background-color: rgb(31, 160, 215);
  text-align: center;
}

main {
  min-height: 100vh;
  background-color: rgb(53, 119, 196);
}

.titleContainer {
  background-color: rgba(0, 0, 0, 0.178);
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 900;
  font-size: 30px;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.todo {
  background-color: aqua;
  min-height: 3rem;
  border-radius: 0.5rem;

  margin: 0.5rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;

  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.188);
}

.todo > * {
  margin: 0.5rem;
}

.todo-isDone-true {
  opacity: 50%;
}

.addTodoContainer {
  background-color: rgb(21, 72, 114);
  min-height: 6rem;
  width: 100vw;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
}

.addTodoContainer > button {
  background-color: rgba(0, 0, 0, 0.172);
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
}

.addTodoContainer > input {
  color: white;
  background-color: rgba(0, 0, 0, 0.172);
  flex: auto;
}

.addTodoContainer > * {
  margin: 0.5rem;
}
